{
  "openapi": "3.0.3",
  "info": {
    "title": "NOMIS (ONS official labour market and census statistics)",
    "version": "1.0.0",
    "description": "Keyless API over ONS datasets. Geography is a GSS code \u2014 an LSOA (E01\u2026), district (E09\u2026/E06\u2026/E07\u2026/E08\u2026), or ward \u2014 which postcodes.io hands back for any postcode, so the same query zooms from neighbourhood to borough by swapping the code."
  },
  "servers": [
    {
      "url": "https://www.nomisweb.co.uk"
    }
  ],
  "paths": {
    "/api/v01/dataset/NM_2041_1.data.json": {
      "get": {
        "operationId": "censusEthnicity",
        "summary": "Census 2021 ethnic-group composition of an area, as percentages",
        "description": "`obs[]` has one row per group: `c2021_eth_20.description` (the group) and `obs_value.value` (percent of residents). Works at LSOA (E01\u2026) for the immediate neighbourhood or district (E09\u2026) for the borough.",
        "parameters": [
          {
            "name": "geography",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "GSS code, e.g. E01001641 (LSOA) or E09000011 (district)."
          },
          {
            "name": "c2021_eth_20",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Group ids; `1001,1002,1003,1004,1005` = the five top-level groups."
          },
          {
            "name": "measures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`20301` = percent, `20100` = count."
          }
        ],
        "responses": {
          "200": {
            "description": "Observations under obs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v01/dataset/NM_30_1.data.json": {
      "get": {
        "operationId": "medianPay",
        "summary": "Median gross annual pay for full-time workers in a district (ASHE)",
        "description": "`obs[]` carries `obs_value.value` \u2014 median gross ANNUAL pay in GBP for full-time jobs held in the district. District-level only (E06/E07/E08/E09 codes); LSOA codes return nothing.",
        "parameters": [
          {
            "name": "geography",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "District GSS code, e.g. E09000011."
          },
          {
            "name": "sex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`8` = full-time workers."
          },
          {
            "name": "item",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`2` = median."
          },
          {
            "name": "pay",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`7` = gross annual pay."
          },
          {
            "name": "measures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`20100` = value."
          },
          {
            "name": "time",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`latest`."
          }
        ],
        "responses": {
          "200": {
            "description": "Observations under obs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v01/dataset/NM_2026_1.data.json": {
      "get": {
        "operationId": "censusDensity",
        "summary": "Census 2021 population density of an area (persons per square kilometre)",
        "description": "`obs[]` carries `obs_value.value` \u2014 usual residents per square kilometre (TS006). Works at LSOA (E01\u2026) and district codes alike.",
        "parameters": [
          {
            "name": "geography",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "GSS code, e.g. E01001641."
          },
          {
            "name": "measures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`20100` = value."
          }
        ],
        "responses": {
          "200": {
            "description": "Observations under obs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v01/dataset/NM_2020_1.data.json": {
      "get": {
        "operationId": "censusAgeStructure",
        "summary": "Census 2021 age structure of an area, one five-year band at a time",
        "description": "`obs[]` carries `obs_value.value` for the age band pinned by `c2021_age_19` (TS007A). Pin ONE band and ask for `measures=20301` to get that band's SHARE of residents directly, rather than a count needing a denominator. Bands: 0 total, 1 under-5, then five-year steps \u2014 4 is 15-19, 5 is 20-24. Works at district codes and LSOA alike.",
        "parameters": [
          {
            "name": "geography",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "GSS code or a NOMIS geography set, e.g. TYPE154 for all districts."
          },
          {
            "name": "c2021_age_19",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The age band to pin, 0-18. 5 = aged 20 to 24."
          },
          {
            "name": "measures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`20100` = count, `20301` = percentage of the area's residents."
          }
        ],
        "responses": {
          "200": {
            "description": "Observations under obs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v01/dataset/NM_162_1.data.json": {
      "get": {
        "operationId": "claimantCount",
        "summary": "Claimant count (people claiming unemployment-related benefits) for an area, latest month",
        "description": "`obs[]` carries `obs_value.value` \u2014 the number of people claiming Jobseeker's Allowance or Universal Credit principally for the reason of being unemployed, rounded to 5, for the latest published month. Works at district (E06/E07/E08/E09) and, with `geography=TYPE432`, for EVERY local authority in one call (374 obs). Age 0 = all ages 16+, gender 0 = total, measure 1 = the count.",
        "parameters": [
          {
            "name": "geography",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "District GSS code (E06000009) or a NOMIS geography type such as TYPE432 for all local authorities."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`latest` for the newest month."
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`0` = total."
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`0` = all ages 16+."
          },
          {
            "name": "measure",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`1` = claimant count; `2` = claimants as a proportion of residents aged 16-64."
          },
          {
            "name": "measures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`20100` = value."
          }
        ],
        "responses": {
          "200": {
            "description": "Observations under obs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v01/dataset/NM_2002_1.data.json": {
      "get": {
        "operationId": "populationByAge",
        "summary": "ONS mid-year population estimates for a local authority, by age band",
        "description": "`obs[]` has one row per requested `c_age` band: `c_age.description` (the band) and `obs_value.value` (persons). Bands: 200 = all ages, 201 = aged 0 to 15, 203 = aged 16 to 64, 209 = aged 65+, 250 = aged 16 to 24. `time.description` is the estimate year.",
        "parameters": [
          {
            "name": "geography",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "District GSS code, e.g. E06000009."
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`latest` for the newest mid-year estimate."
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`0` = total."
          },
          {
            "name": "c_age",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated band codes: `200,201,203,209,250`."
          },
          {
            "name": "measures",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "`20100` = count."
          }
        ],
        "responses": {
          "200": {
            "description": "Observations under obs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}